.Company-Information {
  background-color: #f4f6fa;
  border-radius: 20px;
  padding: 10px 30px 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #363636;
  border: 20px;
  align-self: flex-start;
}

.Company-Information h2 {
  font-size: 29px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;    
  color: #0d63aa; 
}

.Company-Information p {
  margin: 6px 0;
  padding-bottom: 6px;
}


.Company-Information p:last-child {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
}
