DB_USER=postgres
DB_PASSWORD=tu_contraseña_de_postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=RSM_base_de_datos
PORT=3000
USER_DATA_KEY=pon_una_clave_secreta_larga_y_unica
JWT_SECRET=pon_una_clave_jwt_segura